---
import Heading from "./Heading.astro";
import Text from "./Text.astro";

const { title = "", text = "", date = "", image = "", href = "", reverse = false, underlineTitle = true, link1Text = "", link1Href = "", link2Text = "", link2Href = "" } = Astro.props;
---

<article class="bg-[var(--color-primary-beige)]">
  <div class="grid grid-cols-1 md:grid-cols-2 items-stretch">
    <!-- IMAGE -->
    <img src={image} alt="" class={`w-full h-full object-cover ${reverse ? "md:order-1" : "md:order-2"}`} />

    <!-- TEXT -->
    <div
      class={`p-20 text-brown border-[var(--color-primary-brown)]
        ${reverse ? "md:order-2 md:border-l" : "md:order-1 md:border-r"}
        border-t md:border-t-0`}
    >
      {
        href ? (
          <a href={href} class="inline-block">
            <Heading size="h2" htmlheading="h2" stylingclasses={`uppercase ${underlineTitle ? "underline underline-offset-4" : ""}`}>
              {title}
            </Heading>
          </a>
        ) : (
          <Heading size="h2" htmlheading="h2" stylingclasses={`uppercase ${underlineTitle ? "underline underline-offset-4" : ""}`}>
            {title}
          </Heading>
        )
      }

      <Text teksttype="brødtekst" stylingclasses="mt-10 whitespace-pre-line">
        {text}
      </Text>

      {
        link1Text && link1Href && (
          <a href={link1Href} class="block mt-8 underline underline-offset-4 text-brown">
            {link1Text}
          </a>
        )
      }

      {
        link2Text && link2Href && (
          <a href={link2Href} class="block mt-4 underline underline-offset-4 text-brown">
            {link2Text}
          </a>
        )
      }

      {
        date && (
          <Text teksttype="brødtekst" stylingclasses="mt-10">
            {date}
          </Text>
        )
      }
    </div>
  </div>
</article>
